<head>
    <title>Agent Registration</title>
</head>

{% if message %}
  <h4>{{message}}!</h4>
{% endif %}

<h1>Register</h1>
    <body>
        <div class="title">
            <h1>Enter Agent Information below</h1>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('register_user') }}">
                <label for="name">Enter your name:</label>
                <input type="name" name="name" /><br />
                <input type="submit" />
            </form>
         </div>
    </body>
